<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Artist List</title>

    <!-- CSS -->
    <!--link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/-->

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <link href="../../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>

</head>

<body>
<script src="webjars/jquery/1.11.1/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>



<th:block th:include="fragments/navbar :: navbar"/>

<!--Page Contents-->


<!-- 3 grids-->
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="jumbotron" th:if="${not #lists.isEmpty(artists)}">
            <h2>Artists</h2>
            <table class="table table-striped">
                <tr th:each="artist : ${artists}">
                    <td>
                        <a th:href="${ '/artists/' + artist.id}"><h5 th:text="${artist.name}"></h5></a>

                        <a th:href="${'/artists/' + artist.id}">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;&nbsp;View
                            </button>
                        </a>
                        <a th:href="${'/artists/' + artist.id + '/edit'}">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;&nbsp;Edit
                            </button>
                        </a>

                    </td>

                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>


</body>
</html>











