<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Paintings</title>

    <!-- CSS -->
    <!--link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/-->

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <link href="../../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>

</head>

<body>
<script src="webjars/jquery/1.11.1/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>



<th:block th:include="fragments/navbar :: navbar"/>

<!--Page Contents-->


<!-- 3 grids-->
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="jumbotron">
            <h2>Paintings</h2>
            <!--from http://stackoverflow.com/questions/17812372/in-thymeleaf-how-can-write-theach-to-combine-rows-and-columns-->
            <div th:if="${not #lists.isEmpty(paintings)}" class="main-content">
                <div th:each="painting, row: ${paintings}" th:with="numList=${#strings.listSplit('2,1,0', ',')}" th:if="${row.count % 3 == 0 or row.last}" class="row">
                    <p th:each="num : ${numList}" th:with="dataIndex=(${row.index} - ${num})">
                    <div class="col-xs-6 col-md-3">
                        <a th:href="${'/paintings/' + paintings[dataIndex].id}" class="thumbnail">
                            <img th:src="${paintings[dataIndex].imgurl}" th:alt="${paintings[dataIndex].artist}" />
                        </a>
                        <a th:href="${'/paintings/' + paintings[dataIndex].id}">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;&nbsp;View
                            </button>
                        </a>
                        <a th:href="${'/paintings/' + paintings[dataIndex].id + '/edit'}">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;&nbsp;Edit
                            </button>
                        </a>
                        <a th:href="${'/paintings/' + paintings[dataIndex].id} + '/delete'">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;&nbsp;Delete
                            </button>
                        </a>

                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>



<!-- see also http://forum.thymeleaf.org/Displaying-an-iterable-of-n-items-in-rows-of-3-items-with-thymeleaf-td4025738.html#a4025739 -->


<!--div th:if="${not #lists.isEmpty(paintings)}">
    <h2>Paintings</h2>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>URL</th>
        </tr>
        <tr th:each="painting : ${paintings}">
            <td th:text="${painting.id}"></td>
            <td th:text="${painting.name}"></td>
            <td><img th:src="${painting.imgurl}"/></td>
        </tr>
    </table>
</div-->



<!--Javascript-->



</body>
</html>











