<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Paintings</title>

    <!-- CSS -->
    <!--link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/-->

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <link href="../../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>

</head>

<body>
<script src="webjars/jquery/1.11.1/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>



<th:block th:include="fragments/navbar :: navbar"/>


<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="jumbotron">
        <h3 th:text="${painting.name}"><small th:text="${artist.name}"></small></h3>
        <h4 th:text="${artist.name}"></h4>
        <img th:src="${painting.imgurl}"/>

        <div class="row">
            <a th:href="${'/paintings/' + painting.id + '/edit'}">
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;&nbsp;Edit
                </button>
            </a>
            <a th:href="${'/paintings/' + painting.id} + '/delete'">
                <button type="button" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;&nbsp;Delete
                </button>
            </a>
        </div>
    </div>
</div>
<div class="col-md-2"></div>

</body>
</html>