.btn {
    background-color:deepskyblue;
    border-color: white;
    color: white;
}

.btn:hover {
    background-color: lightskyblue;
    border-color: white;
    color: white;
}

.form-control {
    border-color: deepskyblue;
}


.jumbotron, .col-md-8 {
    background-color: deepskyblue;
    border-radius: 20px;
}

.jumbotron h2 {
    text-align: center;
    color: white;
}

.jumbotron p, h1, h3, h4, h6, label {
    color:white;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: ghostwhite;
    color: deepskyblue;
}

.table-striped>tbody>tr:nth-child(even)>td a:link,
.table-striped>tbody>tr:nth-child(even)>th a:link{
    color: ghostwhite;
}
