<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>About</title>

    <!-- CSS -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>


</head>




<body>
<script src="webjars/jquery/1.11.1/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>



<th:block th:include="fragments/navbar :: navbar"/>


<!-- 3 grids-->
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="jumbotron">
            <h2>About</h2>
            <p>JavArt is a website built in Spring Boot that displays a gallery of impressionist/pointillist art. Some of the images may be slow to load from their URLs</p>
            <p>Created by Eryka Nosal for MPCS 51037 Advanced Java, Summer 2016</p>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>




</body>
</html>